<!DOCTYPE html>
<html lang="en" ng-app="Methods">

<head>
	<meta charset="UTF-8">
	<title>Angular Methods Controllers</title>
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<div ng-controller="MethodsController">
		<input type="number" ng-model="value1">
		<input type="number" ng-model="value2">

		<button ng-click="add()">Add</button>
		<button ng-click="multiply()">Multiply</button>

		<hr>

		<p>
			Outcome: {{ outcome }}
		</p>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	<script>
		var controllerApp = angular.module('Methods', [])

		controllerApp.controller('MethodsController', function ($scope) {
			$scope.value1 = 0
			$scope.value2 = 0
			$scope.add = function () {
				$scope.outcome = $scope.value1 + $scope.value2
			}
			$scope.multiply = function () {
				$scope.outcome = $scope.value1 * $scope.value2
			}
		})
	</script>
</body>

</html>